<h2>pie chart</h2>
<div width="200" height="200">
  <canvas id="piechart" #piechart></canvas>
</div>
<br />
<!--  line chart -->
<div class="container-fluid">
  <h1>Select a year to show chart of it</h1>
  <h2>line chart</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="year">Year:</label>
      <select
        formControlName="year"
        class="form-control"
        (change)="changeYear($event)"
      >
        <option disabled>Select Year</option>
        <option *ngFor="let web of websiteList; index as i" [value]="web">
          {{ web }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Submit
    </button>
  </form>
</div>

<div width="200" height="200">
  <canvas id="linechart" #linechart>{{ myLineChart }}</canvas>
</div>
