<p>customer works!</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">CustomerName</th>
    <th scope="col">Service</th>
    <th scope="col">ContractDate</th>
    <th scope="col">ContractExpiryDate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <th scope="row">{{ customer.Id }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + customer.Service" class="me-2" style="width: 20px">
      {{ customer.CustomerName }}
    </td>
    <td>{{ customer.Service }}</td>
    <td>{{ customer.ContractDate | date}}</td>
    
    <td>{{ customer.ContractExpiryDate | date}}</td>
  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCustomers()">
    items shows 
  </ngb-pagination>

  <!-- <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCustomers()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select> -->
</div>
